<mat-tab-group (selectedTabChange)="onTabChange($event)" [selectedIndex]="tab" class="demo-tab-group" dynamicHeight>
  <mat-tab *ngIf="isLogin">
    <ng-template mat-tab-label>
      <div class="nav-bar-label">Get a Bike</div>
    </ng-template>
    <app-new-domain></app-new-domain>
  </mat-tab>
  <mat-tab *ngIf="isLogin">
    <ng-template mat-tab-label>
      <div class="nav-bar-label">History</div>
    </ng-template>
    <app-new-domain></app-new-domain>
  </mat-tab>
  <mat-tab label="Instruction">
    <ng-template mat-tab-label>
      <div class="nav-bar-label">Instructions</div>
    </ng-template>
    <app-instructions></app-instructions>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon *ngIf="isLogin" class="dyn-tab-icon">exit_to_app</mat-icon>
      <div *ngIf="!isLogin" class="nav-bar-label">Login</div>
    </ng-template>
    <app-login *ngIf="!isLogin" (setTab)="setTab($event)" (login)="login($event)"></app-login>
  </mat-tab>
</mat-tab-group>
