<mat-card class="mt-4 vertical-center" style="max-width: 800px;">
    <h4>Használtai útmutató</h4>  
    <p>A szolgáltatás csak regisztráció után használható.</p>
    <p>Egyszerre csak egy bicikli lehet bérelve.</p>
    <p>Ha túlléped a fél órát a számlázott díjat ki kell fizetned!</p>
    <p>Fontos, hogy leadáskor megbizonyosodj arról, hogy a bicikli sikeresen leadásra került.</p>
    <p>A szolgáltatás igénybe vételével tudomásul veszed, hogy az okozott kárt megfizeted.</p>
    <p>Max. 20 000 Ft per bicikli.</p>
</mat-card>
