<mat-card class="mt-4 vertical-center" style="max-width: 800px;">
    <h4>Here are some instructions for you</h4>  
    <p>Here's how you authenticate yourself</p>
    <pre>
        http://[username]:[password]@dyndns.hipernet.hu
    </pre>
    <p>You just call /update with your parameters</p>
    <pre>
        /update?hostname=[fullname]&myip=[IP]
    </pre>
    <p>Where <b>fullname</b> may look like <b>example.dyndns.hipernet.hu</b></p>
    <p>And <b>IP</b> may look something like <b>1.2.3.4</b> or you may leave it empty to use your current IP.</p>
</mat-card>
