<div class="mt-4">
  <mat-card class="mt-1 vertical-center" style="max-width: 800px;">
    <form  ngSubmit="emailLogin()" class="example-container">
      <h3 class="mb-5 mt-3">Get a Bubi</h3>
      <div class="row">
        <div class="col-md-2 "></div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-3"></div>
            <mat-form-field class="col-6">
              <input [(ngModel)]="name" tabindex="0" matInput placeholder="Bike Code" name="user">                                  
            </mat-form-field>
          </div>      
        </div>
      </div>
      <div>
          <button (click)="onUnlock()" mat-raised-button color="primary" class="float-right">Unlock</button>
      </div>
    </form>
  </mat-card>
</div>
  
